*{
    margin: 0;
    padding:0;
}

body{
    font-size:16px;
    font-family: cursive;
    background-color: #fff;

}

.container{
    width:  80%;
    overflow: hidden;
    margin: 5% auto;
}

.btn-btn{
    background-color: #020231;
    border-radius: 30px;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
    top: 15px;
}
.btn-btn:hover {
    border: solid 1px #020231;
    background-color: none;
    color: #ee4609;

}
/* Header */
header{
    background-color: #020231;
    border-bottom: solid 4px #ee4609;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color:#fff;
}
header nav ul{
    display: flex;
    list-style-type: none;
}
header nav li{
    padding: 10px;
}
header li a:hover{
   color: #ee4609;
   text-transform: bold;
}
header nav li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}

header #logo{
    color: #ee4609;
}
header .current {
    color: #ee4609;
    font-weight: bold;
}

/* Showcase*/
#showcase {
    background-image: url(../img/showcase.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

#showcase .landing-text{
   position: relative;
   top: 200px;
   text-align: center;
}

#showcase h1{
    color: #ee4609;
}

#showcase p{
    font-weight: bold;
}

/* About Us*/
#about{
    margin: 20px 0;
}
#about h1{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
#about .container{
    display: flex;
}
#about img{
    width: 350px;
    height: 300px;
    margin-right: 20px;
}

#about .text{
    padding: 20px 10px;

}

/* Services*/
#service {
    margin: 20px 20px;
}
#service h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#service .boxes{
    display: flex;
    text-align: center;
    margin: 40px 0;
}
#service .box img{
    height: 180px;
    width: 180px;
    transition: 500ms ease;
}
#service img:hover{
    width: 100px;
    height: 100px;
}
#service .box h3{
    font-size: 18px;
    margin: 10px 0;
}
#service .box p{
    font-size:16px;
}
/* Newsletter*/
#newsletter {
    background-color: #e5e2e2cc;
    height: 20vh;
    align-content: center;
    padding-top: 1.5rem;
    padding-left: 5rem;
    text-align: center;
    position: sticky;
    top: 0;
}

#newsletter h3{
    font-size:2rem;
    padding: 1rem 0;
}

#newsletter input[type="email"] {
    padding: 10px;
    width: 40%;
    font-size: 1rem;
    transition: 400ms ease;

}
#newsletter input[type="email"]:hover{
    width: 50%;
    border-bottom: solid 2px #020231;
    background: none;
    outline: none;
    border: none;

}

#newsletter button{
    border:none;
    background-color: #020231;
    color: #fff;
    padding: 13px;
    text-transform: uppercase;
    font-weight: 400;
    transition: 500ms ease-in;

}
#newsletter button:hover{
    background-color: #fff;
    border:solid 1px;
    color: #ee4609;
}

#contact h2{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 3rem;
}
#contact .container{
    display: flex;
    justify-content: space-around;
}

#contact p{
    font-weight: bold;
    font-size: 20px; 
}
#contact .form{
    width: 40%;
    margin-right: 2rem;
}
#contact form input{
    display: block;
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    margin: 0.7rem 0;
    border-radius: 5px;
    border: none;
    border: solid 1px #ccc;
    outline: none;
}
#contact input[type="submit"] {
    width: 320px;
    background-color: #020231;
    text-transform: uppercase;
    color: #fff;
    transition: 600ms ease;

}
#contact textarea{
    padding:10px;
    width: 300px;
    resize: none;
}

#contact input[type="submit"]:hover{
    background: none;
    border: solid 1px #020231;
    color: #ee4609;
    font-weight: bold;
}

/* Footer*/
footer {
    background-color: #020231;
    color: #fff;
}
footer a {
    color: #ee4609;
    font-weight: bold;
    text-decoration: none;
}

footer .footer{
    display: flex;
    justify-content:space-between;
    text-align: center;
}